{% extends 'myapp/base.html' %}

{% block body_block %}

		<!----------------Body Section Start---------------------->

		<!----------------Body Section Start---------------------->
		<section class="contact_page">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 m-t-50">
						<h1 class="underline heading">Home</h1>
					</div>
				</div>

			</div>
		</section>
		<div class="container">
			<div class="container1">
				<button onclick="{location.href='addindex'}">ADD</button>
				<div class="container1_1">
					<div class="leftcontent">Announcement</div>
					<div class="rightcontent">
                    {% for obj in acmlist %}
                        Title: {{ obj.title }}
                        Author: {{ obj.author }}
                        Description: {{ obj.description }}
                        Date: {{ obj.date }}
                    {% endfor %}
                    </div>
				</div>
				<div class="container1_2">
					<div class="leftcontent1"></div>
					<div class="rightcontent1"></div>
				</div>
				<div class="container1_1">
					<div class="leftcontent">Requirement</div>
					<div class="rightcontent">
                    {% for obj in remtlist %}
                        Title: {{ obj.title }}
                        Costumer: {{ obj.costumer }}
                        Description: {{ obj.description }}
                        Date: {{ obj.date }}
                    {% endfor %}
                    </div>
				</div>
			</div>
			<a href="#" id="return-to-top"><img src="../../static/myapp/images/backto.png" alt="image-missing"></a>
		</div>
		<!----------------Body Section End---------------------->
{% endblock %}