{% extends 'myapp/base.html' %}

{% block body_block %}
		<!----------------Body Section Start---------------------->
		<section class="contact_page">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 m-t-50">
						<h1 class="underline heading">Issues</h1>
					</div>
				</div>

			</div>
		</section>
		<div class="container">
			<div class="container1" id="object1">
				<dl>
					<dd>Object:</dd>
					<dt id="longdt">{{ issue.object }}</dt>
				</dl>
				<dl id="bigdl">
					<dd>Decsription:</dd>
					<dt id="bigdt">{{ issue.desrciption }}<br /></dt>
				</dl>
				<div class="dividediv"></div>
                {% for obj in solution %}
				<dl id="bigdl">{{ obj.answer }}</dl>
{#                <dl id="bigdl">{{ obj.replyer }}</dl>#}
{#				<dl id="bigdl">{{ obj.answer }}</dl>#}
                {% endfor %}
				<dl id="bigdl">
                    <form action="issues.html" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="OK">
                    </form>
{#					<dd> Add Solution:</dd>#}
{#					<textarea rows="8" cols="50"> </textarea>#}
				</dl>
{#				<button type="submit" form="#" value="Submit">Submit Solutions</button>#}
			</div>
			
			<a href="#" id="return-to-top"><img src="../../static/myapp/images/backto.png" alt="image-missing"></a>
		</div>

		<!----------------Body Section End---------------------->
{% endblock %}