{% extends 'myapp/base.html' %}

{% block body_block %}

		<!------------------Body Section Start----------------->
		<section class="contact_page">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 m-t-50">
						<h1 class="underline heading">Issues List</h1>
					</div>
				</div>

			</div>
		</section>
		<div class="container2">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
						<div>
							<ul class="nav navbar-nav filter" data-filter="true">
								<li class="active" id="all">
									<a href="#" data-filter="*">All</a>
								</li>
								<li id="solved">
									<a href="#" data-filter=".solved">Solved</a>
								</li>
								<li id="unsolved">
									<a href="#" data-filter=".unsolved">Unsolved</a>
								</li>
							</ul>
						</div>
					
				</div>
			</nav>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Object Name</th>
						<th>Time</th>
					</tr>
				</thead>
                    <tbody class="tbody1">
					<tr class="solved">
                        {% for obj in issuelist %}
                            <tr>
                            <td><a href="{% url 'myapp:issues' obj.id %}">{{ obj.object }}</a></td>
						    <td>{{ obj.time }}</td>
                            </tr>
                        {% endfor %}
					</tr>
                    </tbody>
			</table>
		</div>
		<section class="contact_page">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 m-t-50">
						<h1 class="underline heading">Issues</h1>
					</div>
				</div>

			</div>
		</section>
		<div class="container">
			<div class="container1">
                <form action="issues.html" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="Submit">
                </form>
{#				<dl>#}
{#					<dd>Object:</dd>#}
{#					<textarea rows="1" cols="50"> </textarea>#}
{##}
{#				</dl>#}
{#				<dl id="bigdl">#}
{#					<dd>Decsription:</dd>#}
{#					<textarea rows="8" cols="50"> </textarea>#}
{#				</dl>#}
{#				<button type="submit" form="#" value="Submit">Add Issues</button>#}
			</div>
		</div>
			
			<a href="#" id="return-to-top"><img src="../../static/myapp/images/backto.png" alt="image-missing"></a>
		
		<!-----------Body Section End-------------->

	{% endblock %}