{% extends 'myapp/base.html' %}

{% block body_block %}


		<!----------------Body Section Start---------------------->
		<section class="contact_page">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 m-t-50">
						<h1 class="underline heading">Profiles</h1>
					</div>
				</div>

			</div>
		</section>
		<div class="container">
			<div class="container1">
				<div class="leftpcontent">
					<ul>
                        <form class="profile_form" action="" method="post" name="profile_form">
                            <li>
                                <lable for="First Name">First Name:</lable>
                                <input type="text" name="First Name" placeholder="mica" required/>

                            </li>
                            <li>
                                <lable for="Last Name">Last Name:</lable>
                                <input type="text" name="Last Name" placeholder="zhang" required/>

                            </li>
                            <li>
                                <lable for="Email">Your Email:</lable>
                                <input type="text" name="Email" placeholder="mica.zhang@outlook.com" required/>

                            </li>
                            <li>
                                <lable for="Phone">Phone:</lable>
                                <input type="text" name="Phone" placeholder="647-907-8656" />

                            </li>
                            <li>
                                <button class="submit" type="submit">Submit Form</button>
                            </li>
                        </form>
					</ul>
				</div>
                <div class="rightpcontent">
					<ul>
                   <!--     <li><input align=right type="submit" value="Submit" align="right" width="300"></li>-->
					</ul>
				</div>
                <div>

                </div>

			</div>
			<a href="#" id="return-to-top"><img src="../../static/myapp/images/backto.png" alt="image-missing"></a>
		</div>

		<!----------------Body Section End---------------------->
	{% endblock %}