{% extends 'management/base.html' %}

{% block body_block %}
<!-- CSS -->
<style>
/* Force scrollbars onto browser window */
body {
margin-bottom: 200%;
}

/* Box styles */
.myBox {
border: none;
padding: 5px;
font: 16px/36px sans-serif;
width: 730px;
height: 280px;
overflow: scroll;
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
border-radius: 10px;
width: 2px;
border: 1px dotted pink;
}

::-webkit-scrollbar-thumb {
background: pink;
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: hotpink;
}
</style>
</head>
		<!----------------Body Section Start---------------------->

		<!----------------Body Section Start---------------------->
		<section class="contact_page">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 m-t-50">
						<h1 class="underline heading">Home</h1>
					</div>
				</div>

			</div>
		</section>
		<div class="container">
			<div class="container1">
				<!---<button onclick="{location.href='Addindex.html'}">ADD</button> --->
				  <div class="container1_1">
					<div class="leftcontent">Announcement</div>
					{#  <div class="rightcontent">#}
                    <div class="myBox">
                    {% for obj in acmtlist %}
                        <br>
                        <li>Title: {{ obj.title }}</li>
                        <li>Author: {{ obj.author }}</li>
                        <li>Description: {{ obj.description }}</li>
                        <li>Date: {{ obj.date }}</li>
                    {% endfor %}
                    </div>
                    </div>
				</div>
				<div class="container1_2">
					<div class="leftcontent1"></div>
					<div class="rightcontent1"></div>
				</div>
				<div class="container1_1">
					<div class="leftcontent" color = 'white'>Requirement</div>
					{#  <div class="rightcontent">#}
                    <div class="myBox">
                    {% for obj in remtlist %}
                        <br>
                        <li>Title: {{ obj.title }}</li>
                        <li>Costumer: {{ obj.costumer }}</li>
                        <li>Description: {{ obj.description }}</li>
                        <li>Date: {{ obj.date }}</li>
                    {% endfor %}
                    </div>
                    </div>
				</div>
			</div>
			<a href="#" id="return-to-top"><img src="../../static/myapp/images/backto.png" alt="image-missing"></a>
		</div>
    <!----Announcementform---->
   <!--     <div class="container">
			<div class="container1">
                <div class="container2">
				<form action="" method="post">
                    {%  csrf_token %}
                    {{ Aform.as_p }}
                    <input type="submit" value="submit"/>
                </form>
                </div>
			</div>
			<a href="#" id="return-to-top"><img src="../../static/myapp/images/backto.png" alt="image-missing"></a>
		</div>
    <!------Requirementform--->
     <!---   <div class="container">
			<div class="container1">
                <div class="container2">
				<form action="" method="post">
                    {%  csrf_token %}
                    {{ Rform.as_p }}
                    <input type="submit" value="submit"/>
                </form>
                </div>
			</div>
			<a href="#" id="return-to-top"><img src="../../static/myapp/images/backto.png" alt="image-missing"></a>
		</div>
		<!----------------Body Section End---------------------->
{% endblock %}