{% extends 'management/base.html' %}

{% block body_block %}

		<!----------------Body Section Start---------------------->
		<section class="contact_page">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 m-t-50">
						<h1 class="underline heading">Solutions</h1>
					</div>
				</div>

			</div>
		</section>
		<div class="container">
			<div class="container1" id="object_sol1">
				<dl>
					<dd id="object_sol1">Object1:</dd>
					<dt id="longdt"></dt>
				</dl>
				<dl id="bigdl">
					<dd>Solutions</dd>
					<dt id="bigdt">
						<ol>
							<li>solution1</li>
							<div class="divide"></div>
							<li>solution2</li>
							<div class="divide"></div>
							<li>solution3</li>
							<div class="divide"></div>
							<li>solution4</li>
							<div class="divide"></div>
							<li>solution5</li>
							
						</ol>
					</dt>
				</dl>
				<!--<button id="submit_btn" type="submit" form="#" value="Submit">Submit</button>-->

			</div>
			<div class="container1" id="object_sol2">
				<dl>
					<dd id="object_sol2">Object2:</dd>
					<dt id="longdt"></dt>
				</dl>
				<dl id="bigdl">
					<dd>Solutions</dd>
					<dt id="bigdt">
						<ol>
							<li>solution1</li>
							<div class="divide"></div>
							<li>solution2</li>
							<div class="divide"></div>
							<li>solution3</li>			
						</ol>
					</dt>
				</dl>
				<!--<button id="submit_btn" type="submit" form="#" value="Submit">Submit</button>-->

			</div>
			<div class="container1" id="object_sol3">
				<dl>
					<dd id="object_sol3">Object3:</dd>
					<dt id="longdt"></dt>
				</dl>
				<dl id="bigdl">
					<dd>Solutions</dd>
					<dt id="bigdt">
						<ol>
							<li>solution1</li>
							<div class="divide"></div>
							<li>solution2</li>
							<div class="divide"></div>
							<li>solution3</li>
							<div class="divide"></div>
							<li>solution4</li>
							<div class="divide"></div>
							<li>solution5</li>
						</ol>
					</dt>
				</dl>
				<!--<button id="submit_btn" type="submit" form="#" value="Submit">Submit</button>-->

			</div>
			<div class="container1" id="object_sol4">
				<dl>
					<dd id="object_sol4">Object4:</dd>
					<dt id="longdt"></dt>
				</dl>
				<dl id="bigdl">
					<dd>Solutions</dd>
					<dt id="bigdt">
						<ol>
							<li>solution1</li>
							<div class="divide"></div>
							<li>solution2</li>
							
							
						</ol></dt>
				</dl>
				<!--<button id="submit_btn" type="submit" form="#" value="Submit">Submit</button>-->

			</div>
			<div class="container1" id="object_sol5">
				<dl>
					<dd id="object_sol5">Object5:</dd>
					<dt id="longdt"></dt>
				</dl>
				<dl id="bigdl">
					<dd>Solutions</dd>
					<dt id="bigdt">
						<ol>
							<li>solution1</li>
							<div class="divide"></div>
							<li>solution2</li>
							<div class="divide"></div>
							<li>solution3</li>
							<div class="divide"></div>
							<li>solution4</li>
							<div class="divide"></div>
							<li>solution5</li>
							
						</ol>
					</dt>
				</dl>
				<!--<button id="submit_btn" type="submit" form="#" value="Submit">Submit</button>-->

			</div>
			<div class="container1" id="object_sol6">
				<dl>
					<dd id="object_sol6">Object6:</dd>
					<dt id="longdt"></dt>
				</dl>
				<dl id="bigdl">
					<dd>Solutions</dd>
					<dt id="bigdt"></dt>
				</dl>
				<!--<button id="submit_btn" type="submit" form="#" value="Submit">Submit</button>-->

			</div>
			<div class="container1" id="object_sol7">
				<dl>
					<dd id="object_sol7">Object7:</dd>
					<dt id="longdt"></dt>
				</dl>
				<dl id="bigdl">
					<dd>Solutions</dd>
					<dt id="bigdt"></dt>
				</dl>
				<!--<button id="submit_btn" type="submit" form="#" value="Submit">Submit</button>-->

			</div>
			<div class="container1" id="object_sol8">
				<dl>
					<dd id="object_sol8">Object8:</dd>
					<dt id="longdt"></dt>
				</dl>
				<dl id="bigdl">
					<dd>Solutions</dd>
					<dt id="bigdt"></dt>
				</dl>
				<!--<button id="submit_btn" type="submit" form="#" value="Submit">Submit</button>-->

			</div>
			<div class="container1" id="object_sol9">
				<dl>
					<dd id="object_sol9">Object9:</dd>
					<dt id="longdt"></dt>
				</dl>
				<dl id="bigdl">
					<dd>Solutions</dd>
					<dt id="bigdt"></dt>
				</dl>
				<!--<button id="submit_btn" type="submit" form="#" value="Submit">Submit</button>-->

			</div>
			<div class="container1" id="object_sol10">
				<dl>
					<dd>Object10:</dd>
					<dt id="longdt"></dt>
				</dl>
				<dl id="bigdl">
					<dd>Solutions</dd>
					<dt id="bigdt"></dt>
				</dl>
				<!--<button id="submit_btn" type="submit" form="#" value="Submit">Submit</button>-->

			</div>
			<a href="#" id="return-to-top"><img src="../../static/myapp/images/backto.png" alt="image-missing"></a>
		</div>

		<!----------------Body Section End---------------------->
		{% endblock %}