<section class="contact_page">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 m-t-50">
						<h1 class="underline heading">Task Creation</h1>
					</div>
				</div>

			</div>
		</section>
		<div class="container">
			<div class="container1">
				<form action="" method="post">
                    {%  csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="submit"/>
                </form>
               <!--- <dl>
					<dd>Project Name: </dd>
					<dt></dt>
					<dd>Project: </dd>
					<dt></dt>
				</dl>
				<dl>
					<dd>Project Start Time: </dd>
					<dt></dt>
					<dd>Project Due Time: </dd>
					<dt></dt>
				</dl>
				<dl>
					<dd>The phase: </dd>
					<dt></dt>
				</dl>
				<dl>
					<dd>Priority: </dd>
					<dt>
						<div class="dropdown">
							<button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">Priority<span class="caret"></span></button>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="#">1</a>
        						</li>
        						<li role="presentation">
            						<a role="menuitem" tabindex="-1" href="#">2</a>
        						</li>
        						<li role="presentation">
            						<a role="menuitem" tabindex="-1" href="#">3</a>
        						</li>
        						<li role="presentation" class="divider"></li>
        						<li role="presentation">
            						<a role="menuitem" tabindex="-1" href="#">4</a>
        						</li>
    						</ul>
						</div>
					</dt>
				</dl>
				<dl id="bigdl">
					<dd>Project Description: </dd>
					<dt id="bigdt"></dt>
				</dl> --->
			</div>
			<a href="#" id="return-to-top"><img src="images/backto.png" alt="image-missing"></a>
		</div>