<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
		<title>PROFILES</title>
		<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<!-------------------custom css-------------------->
		<link rel="stylesheet" href="css/custom.css">
	</head>

	<body>
		<!------------------Preloader-------------------->
		<div class="preloader" style="position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:100000;
    backface-visibility: hidden;
    background: #ffffff;">
			<div style=" width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-position: center;
    margin:-25px 0 0 -25px;">
				<img src="images/loader.gif" alt="loading...">
			</div>
		</div>
		<!-----------------Preloader end------------------->
		<div class="tp-header">
			<div class="container">
				<div class="row">
					<div class="col-xs-7 col-md-6">
						<a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
						<a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
					</div>
					<div class="col-xs-5 col-md-6 text-right">
						<span class="signin" data-toggle="modal" data-target="#myModal"><span class="hidden-xs">Sign In</span><i class="fa fa-sign-in visible-xs-block" aria-hidden="true"></i> </span>
						<span class="register" data-toggle="modal" data-target="#myModal"><span
                        class="hidden-xs">Register</span><i class="fa fa-user-plus visible-xs-block" aria-hidden="true"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
		<header>
			<div class="container">
				<nav class="navbar navbar-default">
					<div class="navbar-header">
						<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#myMegamenu"><span
                        class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
						<a class="navbar-brand" href="index.html">
							<img src="images/03.png" class="img-responsive" alt="company-logo" width="170px" height="120px">
						</a>
					</div>
					<div class="collapse navbar-collapse navbar-right" id="myMegamenu">
						<ul class="nav navbar-nav">
							<li class="list2">
								<a href="index.html" class="hvr-underline-from-center">HOME</a>
							</li>
							<li class="list2">
								<a href="profiles.html" class="hvr-underline-from-center" id="back">PROFILES</a>
							</li>
							<li class="list2">
								<a href="project_establishment.html" class="hvr-underline-from-center">PROJECT ESTABLISHMENT</a>
							</li>
							<li class="list2">
								<a href="task_creation.html" class="hvr-underline-from-center">TASK CREATION</a>
							</li>
							<li class="list2">
								<a href="issues.html" class="hvr-underline-from-center">ISSUES</a>
							</li>
							
							<li class="list2">
								<a href="issues_list.html" class="hvr-underline-from-center">ISSUES LIST</a>
							</li>
						</ul>
					</div>

				</nav>
			</div>
		</header>
		<!--Login And Register Modal-->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<br>
					<div class="bs-example bs-example-tabs">
						<ul id="myTab" class="nav nav-tabs ">
							<li id="signin_tab" class="active">
								<a href="#signin" data-toggle="tab">Sign In</a>
							</li>
							<li id="reg_tab">
								<a href="#signup" data-toggle="tab">Register</a>
							</li>
						</ul>
					</div>
					<div class="modal-body">
						<div id="myTabContent" class="tab-content">
							<div class=" signin tab-pane fade active in" id="signin">
								<form class="form-horizontal">
									<fieldset>
										<div class="control-group section-top-10">
											<label class="control-label" for="userid"><span
                                            class="glyphicon glyphicon-user text-primary"></span> User Id :</label>
											<div class="controls">
												<input id="userid" name="userid" type="text" class="form-control input-medium" placeholder="user Id" required>
											</div>
										</div>
										<div class="control-group section-top-10">
											<label class="control-label" for="passwordinput"><span
                                            class="glyphicon glyphicon-eye-open text-primary"></span> Password :</label>
											<div class="controls">
												<input type="password" id="passwordinput" name="passwordinput" class="form-control input-medium" placeholder="Password" required>
											</div>
										</div>
										<div class="checkbox">
											<label><input type="checkbox" class="blue">Remember me</label>
										</div>
										<div class="control-group">
											<div class="controls section-top-10">
												<button id="signin_btn" name="signin" class="btn btn-success form-control">Sign
                                            In
                                        </button>
											</div>
										</div>
									</fieldset>
								</form>
							</div>
							<div class="tab-pane fade signup" id="signup">
								<form class="form-horizontal">
									<fieldset>
										<div class="control-group section-top-10">
											<label for="user"><span class="glyphicon glyphicon-user text-primary"></span> Name
                                        :</label>
											<div class="controls">
												<input id="user" name="userid" class="form-control input-large" type="text" placeholder="Name" required="">
											</div>
										</div>
										<div class="control-group section-top-10">
											<label class="control-label" for="Email_id"><span
                                            class="glyphicon glyphicon-envelope text-primary"></span> Email :</label>
											<div class="controls">
												<input id="Email_id" name="Email" class="form-control input-large" type="email" placeholder="abcdef@xyz.com" required>
											</div>
										</div>
										<div class="control-group section-top-10">
											<label for="password"><span
                                            class="glyphicon glyphicon-eye-open text-primary"></span>
                                        Password :</label>
											<div class="controls">
												<input id="password" name="password" class="form-control input-large" type="password" placeholder="Password" required>

											</div>
										</div>
										<div class="control-group section-top-10">
											<label class="control-label" for="reenterpassword"><span
                                            class="glyphicon glyphicon-repeat text-primary"></span> Re-Enter Password :</label>
											<div class="controls">
												<input id="reenterpassword" class="form-control input-large" name="reenterpassword" type="password" placeholder="Re Enter Password" required="">
											</div>
										</div>
										<div class="control-group section-top-10">
											<label class="control-label" for="confirmsignup"></label>
											<div class="controls">
												<button id="confirmsignup" name="confirmsignup" class="btn btn-success form-control">Sign Up
                                        </button>
											</div>
										</div>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!--Login And Register Modal-->
		<!----------------Body Section Start---------------------->
		<section class="contact_page">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 m-t-50">
						<h1 class="underline heading">Profiles</h1>
					</div>
				</div>

			</div>
		</section>
		<div class="container">
			<div class="container1">
				<div class="leftpcontent">
					<ul>
						<li>NAME:</li>
						<li>EMAIL:</li>
						<li>PHONE:</li>
					</ul>
				</div>
				<div class="rightpcontent">
					<ul>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
			<a href="#" id="return-to-top"><img src="images/backto.png" alt="image-missing"></a>
		</div>

		<!----------------Body Section End---------------------->
		<!--------------Footer Start--------------->
		<!------------Footer Caret Shape------------>
		<div class="shape section-top-50"></div>
		<!------------Footer Caret Shape end------------>
		<section class="footer_one">
			<footer>
				<div class="container">
					<div class="row section-top-40">
						<div class="col-md-3 col-sm-6 section-top-25">
							<h4 class="text-white">Follow Us</h4>
							<hr/>
							<div class="row">
								<!--<div class="col-xs-12">
									<p class="footer_text_color">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
								</div>-->

								<div class="col-xs-12">
									<span class="foot_icon">
                            <a href="#"><i class="fa fa-facebook section-top-10 footer_social_icons"
                                           aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter section-top-10 footer_social_icons"
                                           aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin section-top-10 footer_social_icons"
                                           aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram section-top-10 footer_social_icons"
                                           aria-hidden="true"></i></a>
                        </span>
								</div>

							</div>
						</div>

						<div class="col-md-3  col-lg-3 col-sm-6 section-top-25">
							<div class="row">
								<div class="col-xs-12">
									<h4 class="text-white">Issues List</h4>
									<hr/>
								</div>
								<div class="footer_contact">
									<div class="col-md-1  col-xs-1">
										<a href="issues.html#object1"><i class="fa fa-caret-right div_hover1" aria-hidden="true"></i></a>
									</div>
									<div class="col-md-10  col-xs-10">
										<a href="issues.html#object1" class="div_hover2">Issue1Issue1Issue1</a><br/><span class="footer_text_color">Jan. 25, 2017   </span></div>
								</div>
								<div class="clearfix visible-xs-block visible-sm-block visible-lg-block visible-md-block"></div>
								<div class="footer_contact">
									<div class="col-md-1  col-xs-1 section-top-10">
										<a href="issues.html#object2"><i class="fa fa-caret-right div_hover1" aria-hidden="true"></i></a>
									</div>
									<div class="col-md-10  col-xs-10 section-top-10">
										<a href="issues.html#object2" class="div_hover2">Issue2Issue2Issue2</a><br/><span class="footer_text_color">Jan. 21, 2017   </span>
									</div>
								</div>
								<div class="clearfix visible-xs-block visible-sm-block visible-lg-block visible-md-block"></div>
								<div class="footer_contact">
									<div class="col-md-1  col-xs-1 section-top-10">
										<a href="issues.html#object3"><i class="fa fa-caret-right div_hover1" aria-hidden="true"></i></a>
									</div>
									<div class="col-md-10  col-xs-10 section-top-10">
										<a href="issues.html#object3" class="div_hover2">Issue3Issue3Issue3</a><br/><span class="footer_text_color">Jan. 18, 2017   </span>
									</div>
								</div>
								<div class="clearfix visible-xs-block visible-sm-block visible-lg-block visible-md-block"></div>
								<div class="footer_contact">
									<div class="col-md-1  col-xs-1 section-top-10">
										<a href="issues_list.html"><i class="fa fa-caret-right div_hover1" aria-hidden="true"></i></a>
									</div>
									<div class="col-md-10  col-xs-10 section-top-10">
										<a href="issues_list.html" class="div_hover2">See more......</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-lg-3 col-sm-6 section-top-25">
							<div class="row">
								<div class="col-xs-12">
									<h4 class="text-white">Solutions</h4>
									<hr/>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<ul class="shots"></ul>
								</div>
							</div>
						</div>
						<!--<div class="col-md-3 col-sm-6 section-top-25">
							<div class="row">
								<div class="col-xs-12">
									<h4 class="text-white">Twitter Feed</h4>
									<hr/>
								</div>

								<div class="col-xs-12">
									<div class="tweet">
									</div>
								</div>
							</div>
						</div>-->
					</div>
				</div>
			</footer>
		</section>
		<!-------------------Footer section End------------------>
		<!------------------Copy rights------------------->
		<section class="copy-rights">
			<div class="container ">
				<div class="row">
					<div class="col-xs-12 col-sm-6 section-top-15">
						<p class="footer_text_color">
							<a href="index.html">Home</a> &nbsp;
							<a href="profiles.html">Profiles</a> &nbsp;
							<a href="project_establishment.html">Project Establishment</a> &nbsp;
							<a href="task_creation.html">Task Creation</a>
						</p>
					</div>
					<div class="col-xs-12 col-sm-6 text-right section-top-15">

						<p class="footer_text_color  ">Copyright &copy; 2017. All rights reserved.</p>
					</div>
				</div>
				<a href="#" id="return-to-top"><img src="images/backto.png" alt="image-missing"></a>
			</div>
		</section>
		<!------------------Copy rights End------------------>
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>

		<!----------------Page Level JS-------------------->
		<script src="js/custom.js"></script>
	</body>

</html>